#Configuration info
[Project Info]
    Project = 21707

###SensorPowerUpInAdvance begin
[SensorPowerUpInAdvance]
    IsPowerUpinAdvance   = false

[PropertyPackageName]
    AppPackageNameTag = oplus.camera.packname
###SensorPowerUpInAdvance end

[NightMode]
    # 0 MipiRaw   1 IfeIdealRaw  2 BpsIdealRaw
    DarkSightRawCBType  = 0
    SuperNightRawCBType = 2
    StarModeCBType      = 0
    ExpectedExposureTime = 40000
[OPPackageName Group]
    SystemCamera    = com.oppo.camera; com.oplus.camera
    EngineerCamera  = com.oppo.engineermode; com.oppo.engineermode.camera; com.oplus.engineermode; com.oplus.engineercamera
[OemSelectUsecaseZSL]
                   #operation mode   number_of_streams   sensor_mask
    isMatch[0]  =    0x8001;               4;             0x0005       # photomode of single wide, ultra
    isMatch[1]  =    0x8009;               3;             0x000D       # professional mode of wide, ultra, tele(0x1101 = 0xD)
    isMatch[2]  =    0x8019;               4;             0x0007       # supernight mode of single wide, ultra, frontcamera
    isMatch[3]  =    0x80A8;               4;             0x0001       # starry mode of rear, main

[OemCamxSettings]
    extraBufferQueue      = 2
    multiCameraHWSyncMask  = 0
    multiCameraSWFrameSyncInterval = 5
    multiCameraDetectFrameSync = TRUE
    useOEMPipelineDelay = TRUE

[ForceOffAvoidGPUAppList]
    #PackName                #PackName_name
    PackName[0]        =     com.oppo.camera
    PackName[1]        =     com.oplus.camera
    PackName[2]        =     com.oppo.engineermode.camera
    PackName[3]        =     com.oplus.engineercamera
    PackName[4]        =     com.sina.weibo
    PackName[5]        =     com.tencent.now
    PackName[6]        =     com.eg.android.AlipayGphone
    PackName[7]        =     com.taobao.idlefish
    PackName[8]        =     com.intsig.camscanner
    PackName[9]        =     com.linecorp.foodcamcn.android
    PackName[10]        =     com.perfectcorp.youcammakeupcn
    PackName[11]       =     my.PCamera
    PackName[12]       =     com.by.butter.camera
    PackName[13]       =     com.yixia.videoeditor
    PackName[14]       =     jp.naver.linecamera.android
    PackName[15]       =     cn.poco.jane
    PackName[16]       =     com.tencent.mm
    PackName[17]       =     com.alibaba.android.rimet
    PackName[18]       =     com.tencent.mobileqq
    PackName[19]       =     com.whatsapp
    PackName[20]       =     com.flyingeffects.com

[OemCommonCapbility]
    isZslOutputBufferSameAsSensor = TRUE
    CloseTimerProcess = TRUE
    SinglecamOverrideStaticCaps = TRUE
    isExtendBuffer = TRUE
    DisableCtsDualCameraTest = TRUE
    isNightProEnabled = TRUE
    isNeedAdjustSensitivityForCts = TRUE
    Enable3rdMctf = TRUE
    isResetResultMeta = TRUE
    isResetNightCropInfoForHandNight = TRUE
    EnableInSensorZoom = TRUE
    isICEOpen = TRUE
    adjustSensitivityFortestAeCompensation = TRUE
    EnableCameraSize = TRUE
    isNeedWaitConfig = TRUE
    enableNCSCloseAllSensors = TRUE
    isSuperNightSECropCut = TRUE
    OptimizateRearColdStart = TRUE
    disableMovieVideoEis = FALSE
    skipCreateFlashForPortait = TRUE
    frameBpsnapshot = 50
    enableDualYuvSnapshotStream = TRUE

[StabilityDebug]
    isStabilityDebug = TRUE
    increasePortaitModeSofThreshold = TRUE

[SmartPoolMatchingv2]
    #Mode            CaptureMode    snapShotbpsize
    Mode[0]      =     0x8001;           100           # COMMON
    Mode[1]      =     0x8011;           150            # PORTRAIT
    Mode[2]      =     0x8021;           100            # 60fps

[CutConfigureInformation]
#cutsize             height    left    width    top
    CutSizeList =      0;       0;      -40;     0

[Cropsuperight]
                   #cameraId        isCropNight
    isneedcrop[0]  =        0;              1      # main
    isneedcrop[1]  =        1;              1      # front
    isneedcrop[2]  =        2;              0      # 2M
    isneedcrop[3]  =        3;              0      # wide

[MultiCameraVirtualSuperGraph]
    #ChiFeature2Type     RealTimeMCX  FeatureMux  AnchorSync SWRemosaic Bayer2Yuv HDR  BOKEH MultiCameraReprocessRealtime RealtimePostProcessor
    #FeatureId           28           35          15         34         1         6    14    29                           32
    #Operation[0x8011]
    Common             =                                     34;                  6;

[VirtualSuperGraph]
    #ChiFeature2Type     RealTime RawHDR  Bayer2Yuv
    #FeatureId           0        10      1
    Camera[0]          =          10;
    Camera[1]          =          10;
    Camera[2]          =          10;
    Camera[3]          =          10;

[PinFiles]
    so[0]=/vendor/lib64/libOpenCL.so;
    so[1]=/vendor/lib64/libgsl.so;
    so[2]=/vendor/lib64/libCB.so;
    so[3]=/vendor/lib64/libipebpsstriping.so;
    so[4]=/vendor/lib64/com.qti.feature2.gs.mannar.so;
    so[5]=/vendor/lib64/com.qti.feature2.anchorsync.so;
    so[6]=/vendor/lib64/com.qti.feature2.demux.so;
    so[7]=/vendor/lib64/com.qti.feature2.frameselect.so;
    so[8]=/vendor/lib64/com.qti.feature2.fusion.so;
    so[9]=/vendor/lib64/com.qti.feature2.generic.so;
    so[10]=/vendor/lib64/com.qti.feature2.hdr.so;
    so[11]=/vendor/lib64/com.qti.feature2.memcpy.so;
    so[12]=/vendor/lib64/com.qti.feature2.mfsr.so;
    so[13]=/vendor/lib64/com.qti.feature2.qcfa.so;
    so[14]=/vendor/lib64/com.qti.feature2.rawhdr.so;
    so[15]=/vendor/lib64/com.qti.feature2.rt.so;
    so[16]=/vendor/lib64/com.qti.feature2.serializer.so;
    so[17]=/vendor/lib64/com.qti.feature2.stub.so;
    so[18]=/vendor/lib64/com.qti.feature2.swmf.so;
    so[19]=/vendor/lib64/camera/components/com.qti.stats.pdlib.so;
    so[20]=/vendor/lib64/camera/components/com.qti.stats.hafoverride.so;
    so[21]=/vendor/lib64/libcamxtintlessalgo.so;
    so[22]=/vendor/lib64/libcamxswprocessalgo.so;
    so[23]=/vendor/lib64/libthermalclient.so;
    so[24]=/vendor/lib64/libcamxexternalformatutils.so;

[OemFDAttrEnableMap]
    #                  operation_mode   sensor_mask
    Mode[0]        =      0x8001;            0xFFFF;
    Mode[1]        =      0x800B;            0xFFFF;
    Mode[2]        =      0x8019;            0x0002;
    Mode[3]        =      0x8011;            0x0002;

[FDNodeCropFactor]
    #                   operation_mode  camera_id   crop_factor*100
    Mode[0]        =    0x800b;         0;          115
    Mode[1]        =    0x8028;         0;          200
    Mode[2]        =    0x80A3;         0;          115
    Mode[3]        =    0x80A4;         0;          150
    Mode[4]        =    0x800b;         3;          115
    Mode[5]        =    0x8028;         3;          140
    Mode[6]        =    0x80A3;         3;          115
    Mode[7]        =    0x80A4;         3;          140
    Mode[8]        =    0x800b;         1;          115
    Mode[9]        =    0x802B;         1;          115
    Mode[10]       =    0x80A7;         0;          115

[SuperEISConfigMap]
    #                   operation_mode  camera_id   margins*1000
    Mode[0]        =    0x8028;         0;          400
    Mode[1]        =    0x80A4;         0;          350
    Mode[2]        =    0x8028;         3;          400
    Mode[3]        =    0x80A4;         3;          350
    Mode[5]        =    0x802B;         1;          200

[NightProMode]
    FixedRawSensitivityBoost = TRUE

[ActuatorConfig]
    ParkLensDelayTime = 1000

#Distinguish hand and tripod in the SuperNight or NightVideo
[SuperNightShakeState]
    Enable             = false

[CamSensorSettingMap]
    Enable             = TRUE

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8001;            0x0001;            0x0000;           1  #Picture & SUPER HUAZHI & SUPER TXT
    Mode[1]         =     0x8001;            0x0002;            0x0000;           1  #Picture
    Mode[2]         =     0x8007;            0x0001;            0x0000;           1  #Panorama
    Mode[3]         =     0x8007;            0x0002;            0x0000;           1  #Panorama
    Mode[4]         =     0x8009;            0x0001;            0x0000;           1  #Professional
    Mode[5]         =     0x800B;            0x0001;            0x0000;           16  #VIDEO
    Mode[6]         =     0x800B;            0x0002;            0x0000;           1  #VIDEO
    Mode[7]         =     0x800C;            0x0001;            0x0000;           5  #FastVideo
    Mode[8]         =     0x800C;            0x0002;            0x0000;           2  #FastVideo
    Mode[9]         =     0x800D;            0x0001;            0x0000;           8  #SLOW MOVIE
    Mode[10]        =     0x800E;            0x0003;            0x0000;           1  #STICKER
    Mode[11]        =     0x8011;            0x0001;            0x0000;           2  #PORTRAIT
    Mode[12]        =     0x8011;            0x0002;            0x0000;           3  #PORTRAIT
    Mode[13]        =     0x8011;            0x0004;            0x0000;           3  #PORTRAIT
    Mode[14]        =     0x8019;            0x0001;            0x0000;           1  #NIGHT
    Mode[15]        =     0x8019;            0x0002;            0x0000;           1  #NIGHT
    Mode[16]        =     0x8021;            0x0001;            0x0000;           6  #VIDEO　60FPS
    Mode[17]        =     0x802C;            0x0001;            0x0000;           5  #DUAL SCENE
    Mode[18]        =     0x802C;            0x0002;            0x0000;           1  #DUAL SCENE
    Mode[19]        =     0x80A6;            0x0008;            0x0000;           0  #Macro
    Mode[20]        =     0x80A9;            0x0001;            0x0000;           1  #STREET MODE REAR
    Mode[21]        =     0x80AA;            0x0001;            0x0000;           1  #long exposure mode
    Mode[22]        =     0x80A8;            0x0001;            0x0000;           1  #STREET MODE REAR
    Mode[23]        =     0x8001;            0x0001;            0x0010;           0  #rear remosaic
    Mode[24]        =     0x80A7;            0x0001;            0x0000;           16  #AI VIDEO
    Mode[25]        =     0x8028;            0x0001;            0x0000;           16  #super eis

[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask    index
    Mode[0]        =      0x0000;            0x0001;        0x0000;       1;
    Mode[1]        =      0x0000;            0x0002;        0x0000;       1;
    Mode[2]        =      0x9001;            0x0001;        0x0000;       2; #DualcamCalib
    Mode[3]        =      0x9001;            0x0004;        0x0000;       1; #DualcamCalib
    Mode[4]        =      0x802A;            0x0001;        0x0000;       1; #SFR Mode
    Mode[5]        =      0x802A;            0x0002;        0x0000;       0; #SFR Mode

[CtsCamSensorSettingMap]
    #                   cts_mode         sensor_mask   index
    Mode[0]        =      0x0001;            0x0001;       1;
    Mode[1]        =      0x0001;            0x0002;       1;

[ThirdAppCamRatioSensorSettingMap]
    #                  Ratio_mode         sensor_mask   index
    Mode[0]        =      0x0000;            0x0001;       1;
    Mode[1]        =      0x0000;            0x0002;       1;
    Mode[2]        =      0x0001;            0x0001;       1;
    Mode[3]        =      0x0001;            0x0002;       1;
#Whether or not to enable Remosaic for SFR
[EngCameraSFR]
    #                  sensor_mask        state
    Mode[0]        =      0x0001;           0 #Disable
    Mode[1]        =      0x0002;           1 #Disable

[OplusUseAecx]
    useAecx        = TRUE

[OplusVendorID]
#00:oneplus; 01:oppo; 02: realme
    vendorID  = 2

[OplusReduceVideoFPS]
    IsEnable = TRUE
    MinVideoFPS1 = 24
    MinVideoFPS2 = 49

[RawSanpshotArr]
#sensor list           sensor_name
    Sensor[0]        =     ov64b

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =         7 ;          30;
    OemFpsRange[1] =        10 ;          10;
    OemFpsRange[2] =        12 ;          12;
    OemFpsRange[3] =        15 ;          15;
    OemFpsRange[4] =        15 ;          20;
    OemFpsRange[5] =        20 ;          20;
    OemFpsRange[6] =        30 ;          30;

[OemCamActuatorSettingMap]
    #operation mode     is_need_power      first_value        second_value      third_vaue  if is_need_power is 0 set other variables to 0
        Mode[0]      =     0;                 0;                 0;                0        #VCM lowerBound
        Mode[1]      =     1;                 1;                 0;                -1       #VCM upperBound
        Mode[2]      =     0;                 0;                 0;                0        #BIVCM lowerBound
        Mode[3]      =     1;                 1;                 0;                -1       #BIVCM upperBound

[OplusFactoryFixExposures]
#fix factory exposures
    fixedExposures  = 16000000

[SupportEis]
    isNeedEis = TRUE

[OemActuatorInitCode]
    #actuator name       initcode
    dw9800v   =   512

[OemGsiCamxSettings]
    disablePartialMetadata = TRUE

[OemPerformanceOptimization]
    IsAsyncAllocMeta = TRUE
    IsSyncPrepareFinalizePipeline = TRUE
    isUseLightUxThread            = TRUE
    isApplyUxForDRQ               = TRUE

[OemCTSConfig]
    FocusDistance = 4.54

[OemFDSelect]
    OptimizateFD          = TRUE
    SkipFDFirstFrame      = TRUE
    WaitForFDAttrInitial  = FALSE
    DisableFDInRecording  = FALSE

[AFsearchRange]
    #operation modeinfo  cameraID      minfocusdistance in cm
    ModuleInfo[0]    =     0;            8

[OemZoomRatioThreshold]
    zoomRatioThreshold = 10.0;  5.0;  1.5

[OP_SWMF]
    BlurlessAheadZSL = TRUE
    ExtraConsumerBuffers = 2

# ov64b insensorzoom EEPROM has SPC already
#[OemCamWriteSPCMap]
    #                  sensor_mask        resolutionIndexMask
    #Mode[0]        =      0x0001;           3
    #Mode[1]        =      0x0002;           1

[BokehConfigureInformation]
    RearBokehImgSizeList = 4624; 3468; 2304; 1728

[OemSupportedCustomImageSizes]
    #                   width   height
    ImageSizes[0]   =   8000;   3632
    ImageSizes[1]   =   6560;   4928
    ImageSizes[2]   =   6560;   2976
    ImageSizes[3]   =   6560;   3692
    ImageSizes[4]   =   6560;   2960
    ImageSizes[5]   =   4928;   4928
    ImageSizes[6]   =   4624;   3468
    ImageSizes[7]   =   4624;   2600
    ImageSizes[8]   =   4624;   2068
    ImageSizes[9]   =   4608;   3456
    ImageSizes[10]  =   4608;   2592
    ImageSizes[11]  =   4608;   2064
    ImageSizes[12]  =   4208;   1920
    ImageSizes[13]  =   4160;   3120
    ImageSizes[14]  =   3468;   3468
    ImageSizes[15]  =   3456;   3456

[SupportedImageSizes]
    #                   width   height
    ImageSizes[0]   =   8000;   6000
    ImageSizes[1]   =   4624;   3468
    ImageSizes[2]   =   4624;   2600
    ImageSizes[3]   =   4624;   2080
    ImageSizes[4]   =   4624;   2068
    ImageSizes[5]   =   4608;   3456
    ImageSizes[6]   =   4608;   2592
    ImageSizes[7]   =   3468;   3468
    ImageSizes[8]   =   4608;   2064
    ImageSizes[9]   =   4160;   3120
    ImageSizes[10]  =   4160;   2336
    ImageSizes[11]  =   4160;   1872
    ImageSizes[12]  =   4000;   3000
    ImageSizes[13]  =   4000;   2256
    ImageSizes[14]  =   4000;   1800
    ImageSizes[15]  =   3840;   2160
    ImageSizes[16]  =   3472;   3472
    ImageSizes[17]  =   3456;   3456
    ImageSizes[18]  =   3264;   2448
    ImageSizes[19]  =   3264;   1840
    ImageSizes[20]  =   3264;   1472
    ImageSizes[21]  =   3264;   1460
    ImageSizes[22]  =   3200;   2400
    ImageSizes[23]  =   3120;   3120
    ImageSizes[24]  =   3000;   3000
    ImageSizes[25]  =   2592;   1944
    ImageSizes[26]  =   2448;   2448
    ImageSizes[27]  =   2400;   1080
    ImageSizes[28]  =   2304;   1728
    ImageSizes[29]  =   1920;   1440
    ImageSizes[30]  =   1920;   1080
    ImageSizes[31]  =   1920;   856
    ImageSizes[32]  =   1680;   720
    ImageSizes[33]  =   1600;   1200
    ImageSizes[34]  =   1600;   900
    ImageSizes[35]  =   1600;   720
    ImageSizes[36]  =   1600;   716
    ImageSizes[37]  =   1520;   720
    ImageSizes[38]  =   1440;   1080
    ImageSizes[39]  =   1280;   960
    ImageSizes[40]  =   1280;   768
    ImageSizes[41]  =   1280;   720
    ImageSizes[42]  =   1200;   1200
    ImageSizes[43]  =   1080;   1080
    ImageSizes[44]  =   1024;   768
    ImageSizes[45]  =   960;    960
    ImageSizes[46]  =   960;    720
    ImageSizes[47]  =   800;    600
    ImageSizes[48]  =   800;    480
    ImageSizes[49]  =   720;    720
    ImageSizes[50]  =   720;    480
    ImageSizes[51]  =   640;    480
    ImageSizes[52]  =   640;    400
    ImageSizes[53]  =   640;    360
    ImageSizes[54]  =   352;    288
    ImageSizes[55]  =   320;    240
    ImageSizes[56]  =   176;    144

[SupportedImageSizesGSI]
#                   width   height
    ImageSizes[0]  =  4624; 3468
    ImageSizes[1]  =  4000; 3000
    ImageSizes[2]  =  3840; 2160
    ImageSizes[3]  =  3280; 2464
    ImageSizes[4]  =  3264; 2448
    ImageSizes[5]  =  2880; 2160
    ImageSizes[6]  =  2592; 1944
    ImageSizes[7]  =  2328; 1748
    ImageSizes[8]  =  2304; 1728
    ImageSizes[9]  =  1920; 1080
    ImageSizes[10] =  1440; 1080
    ImageSizes[11] =  1280; 960
    ImageSizes[12] =  1280; 720
    ImageSizes[13] =  720; 480
    ImageSizes[14] =  640; 480
    ImageSizes[15] =  352; 288
    ImageSizes[16] =  320; 240
    ImageSizes[17] =  176; 144

[IsNeedComputeDAC]
    #actuator name      macro_Distance/cm    infinity_Distance/cm    Distance_To_DACOf50cm    Distance_To_DACOf100cm
        dw9800v      =          8;                  500;                      0;                        0
        fp5513       =          8;                  500;                      0;                        0

[EngineercameraConfig]
    isOplusEngineermode =  1
    master_actuator[0]  =  dw9800v

[TintlessHystControl]
     #tintless hyst control    cameraId    hyst_control_var    hyst_mode    hyst_trigger.start1    hyst_trigger.end1    hyst_trigger.start2    hyst_trigger.end2
     HystControl[0] =             0;             0;                0;               310;                  300;                   0.9;                  0.91
     HystControl[1] =             0;             6;                1;               4500;                 4800;                  0.9;                  0.91
     HystControl[2] =             2;             0;                0;               310;                  300;                   0.9;                  0.91
     HystControl[3] =             2;             6;                1;               4500;                 4800;                  0.9;                  0.91
     HystControl[4] =             1;             0;                0;               260;                  250;                   0.9;                  0.91
     HystControl[5] =             1;             6;                1;               4500;                 4800;                  0.9;                  0.91

[OplusDataMaskSaveDAC]
    IsEnable  =  TRUE

[ProfessionalAutoMode]
    FixedRawSensitivityBoost  =  TRUE

[OplusTestPatternBlack]
    isSupport = TRUE

[OplusTestPatternBlackMulanAFront]
    isSupportFornt = TRUE

[FrontCameraBlackPicSize]
#    SuperNight photo Portrait                #  streamWidth  streamHeight  bufferwidth  bufferHeight
     pictureSize[0]  =                            3456;           3456 ;       2048  ;    2048                         # 1:1
     pictureSize[1]  =                            4608;           3456 ;       2560  ;    2048                         # 4:3
     pictureSize[2]  =                            4608;           2592 ;       2560  ;    1536                         # 16:9
     pictureSize[3]  =                            4608;           2064 ;       2560  ;    1536                         # full